<mat-toolbar color="primary" class="mat-elevation-z8">

  <div fxShow="true" fxHide.gt-xs="true">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span>MLCycle</span>

  <span class="fill"></span>
  
  <div fxShow="true" fxHide.xs="true">
    <a mat-button routerLink="/job" routerLinkActive="active">Jobs</a>
    <a mat-button routerLink="/project" routerLinkActive="active">Projekte</a>
    <a mat-button routerLink="/worker" routerLinkActive="active">Worker</a>
  </div>
  

</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
    <mat-nav-list>
        <a mat-list-item routerLink="/job" routerLinkActive="active">Jobs</a>
        <a mat-list-item routerLink="/project" routerLinkActive="active">Projekte</a>
        <a mat-list-item routerLink="/worker" routerLinkActive="active">Worker</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-typography">
      <router-outlet (activate)='sidenav.close()'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>