<div fxLayout="column" fxLayoutGap="15px" *ngIf="job">
    <mat-card>
        <app-job-header [job]="job"></app-job-header>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" class="props">
          <div fxFlex.gt-xs="50%">
            <canvas baseChart options="maintainAspectRatio=false"
              [data]="time_data"
              [labels]="time_labels"
              [chartType]="chartType" 
              [colors]="chartColors"
              [options]="chartOptions">
            </canvas>
          </div>
          <div fxFlex class="metrics">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Wert</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let metric of metrics">
                    <th>{{metric.step}}</th>
                    <td>{{metric.name}}</td>
                    <td>{{metric.value}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </mat-card>
    <h3>Pipeline</h3>
    <app-step *ngFor="let step of job.steps" [step]="step"></app-step>
</div>
