<div class="header">
    <div fxFlex fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <app-state-icon [state]="job.state"></app-state-icon>
        <div fxFlex fxLayout="column">
            <a class="title">{{job.project?.name}}</a>
            <span>erstellt {{job.created | amLocal | amTimeAgo}}</span>
        </div>
    </div>
    <div fxLayout="column" fxShow="true" fxHide.xs="true" fxLayoutAlign="center end">
        <span class="status">Status: {{job.state | pstate}}</span>
        <span>{{job.state == 2 || job.state == 31 ? 'in' : 'seit'}} {{job.created | diff:job.finished | amDuration:'seconds'}}</span>
    </div>
</div>